#doge {
  height: 90px;
  width: 80px;
  margin-bottom: 2em;
}
#doge:hover {
  animation-name: doge;
  animation-duration: 1s;
}
@keyframes colours {
  0% {
    color: #ff0066;
  }
  15% {
    color: #ffff00;
  }
  30% {
    color: #f8cb4a;
  }
  45% {
    color: #95b850;
  }
  60% {
    color: #944893;
  }
  75% {
    color: #c71f00;
  }
  90% {
    color: #ff3300;
  }
  100% {
    color: #39f;
  }
}

@keyframes doge {
  40% {
    transform: rotateZ(25deg);
  }
  70% {
    transform: rotateZ(-25deg);
  }
  90% {
    transform: rotateZ(25deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeUl {
  list-style: none;
  position: relative;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInAnimated {
  color: #f35626;
  opacity: 0;
  will-change: color;
  transition: color 100ms ease-in-out, opacity 100ms ease;
  animation: fadeIn 7s forwards 5s infinite, colours 12s forwards 3s infinite; /* forwards (animation-fill-mode) retains the style from the last keyframe when the animation ends */
}

#first {
  position: absolute;
  top: 3em;
  right: 4em;
  animation-delay: 6s;
}

#second {
  position: absolute;
  bottom: -2em;
  left: 0em;
  animation-delay: 2s;
}

#third {
  position: absolute;
  top: 5em;
  left: 3em;
  animation-delay: 4s;
}
